<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>日志导入</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../../../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.5/themes/gray/easyui.css}"  href="../../../static/js/jquery-easyui-1.5/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.5/themes/icon.css}" href="../../../static/js/jquery-easyui-1.5/themes/icon.css"/>
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.5/jquery.min.js}"  src="../../../static/js/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.5/jquery.easyui.min.js}"  src="../../../static/js/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js}"  src="../../../static/js/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <form id="SysLogXlsForm" method="post" enctype="multipart/form-data">
        <table align="center" class="com_table">
            <input type="hidden" name="id"/>
            <tr>
                <td></td>
                <td></td>
                <td><input class="easyui-filebox" name="file" data-options="buttonText:'选择文件'" style="width:300px"/></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>1、文件扩展名必须是.xls</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>2、Excel的格式必须与导出的Excel格式一样</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>3、建议先选几条数据导出，然后修改导出的文件来导入</td>
                <td></td>
            </tr>
        </table>
    </form>
    <script th:src="@{/js/sys/sys-log/sys-log-import.js}" src="../../../static/js/sys/sys-log/sys-log-import.js"></script>
</body>
</html>
