<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>设置生成信息</title>
</head>
<body>
<form id="form" method="post">
    <table align="center" style="border-collapse:separate; border-spacing:0px 5px;">
        <input type="hidden" name="dialect"/>
        <input type="hidden" name="url"/>
        <input type="hidden" name="username"/>
        <input type="hidden" name="password"/>
        <input type="hidden" name="entityInfo"/>
        <input type="hidden" name="fieldInfo"/>
        <tr>
            <td></td>
            <td><label>模版:</label></td>
            <td>
                <input class="easyui-textbox" name="type" data-options="required:true" th:value="${template}"
                       style="width: 350px;"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><label>作者:</label></td>
            <td><input class="easyui-textbox" name="user" data-options="required:true" th:value="${user}"
                       style="width: 350px;"/></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><label>基本包名:</label></td>
            <td><input class="easyui-textbox" name="packageInfo.base" data-options="required:true" th:value="${base}"
                       style="width: 350px;"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><label>模块名:</label></td>
            <td><input class="easyui-textbox" name="packageInfo.module" data-options="required:true" th:value="${moudle}"
                       style="width: 350px;"/></td>
            <td></td>
        </tr>
    </table>
</form>
<script>
    $('#type').combobox({
        onChange: function (newValue, oldValue) {
            if (newValue == "BOOT") {
                //$('#url').textbox("setValue", "jdbc:mysql://127.0.0.1:3306/rds_demo");
            } else if (newValue == "SQLSERVER") {
                //$('#url').textbox("setValue", "jdbc:oracle:thin:@127.0.0.1:1521:orcl");
            }
        }
    });


    function saveForm(success) {
        if ($("#form").form('validate')) {
            $("#form").form({
                url: "/gen/zip",
                method: 'post',
                success: success
            }).submit();
        }
    }

    function initData(params) {
        $('#form').form('load', params);
    }
</script>
</body>
</html>